{% extends "capproject/base.html" %}
{%block content%}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <form action="{% url 'search' %}" method="get" class="d-flex" >
        {%csrf_token%}
        <input class="form-control me-2" type="search" name="query" placeholder="search">
        <button class="btn btn-outline-success" type="submit" >Search Product</button>
      </form>
    </div>
  </div>
</div>

{% for product in products %}
<div class="col-md-3">
  <div class="card my-2" >
    <img src="{{post.image.url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <p><u>Product</u></p>
      <h5 class="card-title">{{post.name}}</h5>

      <p><u>Price</u></p>
      <h5 class="card-title">{{ post.price }}</h5>
      
      
      <a href="{{ post.URL }}" target="_blank" class="btn btn-primary">Visit Platform Site</a>
    </div>            
  </div>
</div>
{% endfor %}

{% endblock content %}
